asgiref==3.3.1
astroid==2.4.2
atomicwrites==1.4.0
attrs==20.3.0
colorama==0.4.4
coverage==5.3
dj-database-url==0.5.0
Django==3.1.4
django-heroku==0.3.1
gunicorn==20.0.4
importlib-metadata==3.1.0
iniconfig==1.1.1
isort==4.3.21
lazy-object-proxy==1.4.3
lxml==4.6.1
mccabe==0.6.1
mypy==0.790
mypy-extensions==0.4.3
numpy==1.19.3
packaging==20.4
pluggy==0.13.1
psutil==5.7.3
psycopg2==2.8.6
py==1.9.0
pylint==2.5.3
pyparsing==2.4.7
pytest==6.1.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-cov==2.10.1
pytest-doctestplus==0.4.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
pytz==2020.4
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
typed-ast==1.4.1
typing-extensions==3.7.4.3
whitenoise==5.2.0
wrapt==1.12.1
zipp==3.4.0
